body {
  margin: 0;
  display: flex;
  font-family:Times New Roman;
}



/* SIDEBAR */
#sidebar {
  width: 220px;
  height: 100vh;
  background: #2c3e50;
  color: white;
  padding: 15px;
}

.cat {
  padding: 8px;
  cursor: pointer;
}

.cat.active {
  background: rgba(255,255,255,0.3);
}

/* MAIN */
#main {
  flex: 1;
  padding: 20px;
}

.note {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
}

/* MODAL */
#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modalBox {
  background: white;
  padding: 20px;
}
